
body {
      background: #fff; color:#505050;
      font-family: 'Malgun guthic', "Segoe UI', Tahoma, Geneva, Verdana";
      font-size:18px;
}
a {
      color : blue;
      text-decoration: none;
}
li{
      padding-bottom: 5px;
      margin: 5px;
}

.title{
      font-size: 45px;
      margin:0;
      padding:20px;
      background: #efefef;
      margin-bottom: 0;
}

.text-center{
      text-align: center;
}
.margin-top-10{
      margin-top: 10px;
}
#gird{
      display: grid;
      grid-template-columns: 150px 1fr;
}
#subGrid{
      border-right: 1px solid gray;
}
@media(max-width: 800px){
      #subGrid {
            border:none;
      }
      #gird{
            display:block;
      }
}
.fontBold{
      font-weight: bold;
}

#hello{
      padding-left: 20px;
      margin: 0;
      font-size: 20px;
      color:#fff;
      background-color: #969696;
      line-height: 50px;
}

#btnNightDay{
      font-size:20px; 
      width:80px;
      text-align: center; 
      margin-left:20px; 
      margin-top:10px;
}

